.profileTitle{
  font-size: 38px;
  color:#111;
  font-weight: bold;
}

strong{
  font-size:24px;
}

.skillImg{
  margin-top:10px;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  
}
.skillImg li {
  position: relative;
  display: inline-block;
  margin:20px;
  padding-bottom: 30px;
  box-shadow: 2px 2px 20px #ccc;
}

.skillImg li:nth-child(n){
  margin-left:0;
}
.skillImg li:hover{
  transform: scale(1.2 , 1.2);
  transition:all .5s;
}
.skillImg img{
  width: 100px;
  height: 100px;
}
.skillImg .nodeimg{
  width: 100px;
  height: 105px;
  text-align: center;
}
.skillImg .nodeimg img{
  margin-top:30px;
  width:90px;
  height: 28px;
}

.skillText{
  position: absolute;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  margin-bottom: 6px;
}
