.introduceWrap{
  position: relative;
  width:100%;
}

.introduceWrap a{
  background: rgb(209, 209, 209);
  border-bottom:1px solid #ccc;
  color: #111;
}
.introduceTitle{
  font-size:52px;
}
.contents h3{
  margin-top:0;
}
.tel{
  display: block;
  background: rgb(226, 226, 226);
  padding: 2%;
  border-radius: 5px;
  box-shadow: 1px 1px 15px rgb(235, 235, 235);
}